---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-braces-around-statements,
        -readability-isolate-declaration,
        -readability-uppercase-literal-suffix,
        -hicpp-uppercase-literal-suffix,
        -bugprone-easily-swappable-parameters,
        -hicpp-braces-around-statements,

        -hicpp-no-array-decay,
        -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
        -hicpp-avoid-c-arrays,
        -modernize-avoid-c-arrays,
        -cppcoreguidelines-avoid-c-arrays,
        -cppcoreguidelines-init-variables,

        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -misc-non-private-member-variables-in-classes,
"
